.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark {
  background: #171618;
}

.text-white-real {
  color: #FFFFFF;
}

.text-white {
  color: #34eea0 !important;
}

.centered-about {
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100% !important;
}

.image-about {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.centered-image-about {
  margin: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bg-card-ability {
  background: #171618;
  padding: 20px 50px;
  border-radius: 10px;
}

.bg-card-ability h4 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 29px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-height-desc {
  line-height: 1.5 !important;
}

.title-framework {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.centered-framework {
  margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.sub-title-main {
  font-weight: bold !important;
}

.cursor-normal {
  cursor: default !important;
}

.logo-light {
  margin-top: 22px;
}

.logo-dark {
  margin-top: 19px;
}

.desc-connect {
  padding-top: 20px;
}

.mt-cs {
  padding-top: 200px;
}

.mb-wd {
  margin-bottom: 20px;
}

.mt-testimonial {
  margin-bottom: 120px;
  /* text-align: left; */
}

.amc {
  margin-top: 100px !important;
}

.opacity-open {
  opacity: 1;
}

.vossen-portfolio > div {
  opacity: 1;
}

.carousel .thumb {
  border: 1px solid #34eea0;
  border-radius: 6px;
}